


{% extends 'proManager/master.html' %}

{% block tcontent %}
Recent Work
{% endblock %}

{% block childcontent %}





        <div class="page-content">
            <section id="projects" class="content-section">
                <div class="section-heading">
                    <h1>Recent<br><em>Projects</em></h1>
                    <p>Praesent pellentesque efficitur magna, 
                    <br>sed pellentesque neque malesuada vitae.</p>
                </div>
                <div class="section-content">
                    <div class="masonry">
                        <div class="row">
                            <div class="item">
                                <div class="col-md-8">
                                    <a href="/static/img/portfolio_big_1.jpg" data-lightbox="image"><img src="/static/img/portfolio_1.jpg" alt="image 1"></a>
                                </div>
                            </div>
                            <div class="item second-item">
                                <div class="col-md-4">
                                    <a href="/static/img/portfolio_big_2.jpg" data-lightbox="image"><img src="/static/img/portfolio_2.jpg" alt="image 2"></a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-md-4">
                                    <a href="/static/img/portfolio_big_3.jpg" data-lightbox="image"><img src="/static/img/portfolio_3.jpg" alt="image 3"></a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-md-4">
                                    <a href="/static/img/portfolio_big_4.jpg" data-lightbox="image"><img src="/static/img/portfolio_4.jpg" alt="image 4"></a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-md-8">
                                    <a href="/static/img/portfolio_big_5.jpg" data-lightbox="image"><img src="/static/img/portfolio_5.jpg" alt="image 5"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>            
            </section>
        </div>






{% endblock %}








